:root {
    --general-font: 'Nunito', sans-serif;
    --general-color: rgba(0, 191, 166, 0.3);
    --text-color: #626262;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--general-font);
}
h2 {
text-align: center;
}
p {
    font-size: 19px;
    color: var(--text-color);
    font-family: var(--general-font);
}
.open-source {
    color: rgb(0, 191, 166);
}
@media (min-width: 600px) {
    p {
        color: red;
}