:root {
    --general-font: 'Nunito', sans-serif;
    --general-color: rgba(0, 191, 166, 0.3);
    --text-color: #626262;
}
h1, h2, h3, h4, h6 {
    font-family: var(--general-font);
}
h1 {
    font-size: 60px !important;
    white-space: nowrap;
    line-height: 1.5;
}
h2 {
    text-align: center;
    line-height: 1.5;
}
h4 {
    text-align: center;
    line-height: 1.5;
}
p {
    font-size: 19px;
    color: var(--text-color);
    font-family: var(--general-font);
    }
.cont-hero {
    margin: 50px auto;
    padding: 50px !important;
    display: flex;
    border-radius: 63px;
    box-shadow: 3px -7px 74px 39px rgba(0, 0, 0, 0.1);
}
.contact-links {
    margin: 20px;
    padding: 20px !important;
    border-radius: 30px;
    box-shadow: 3px -7px 74px 39px rgba(0, 0, 0, 0.1);
}
.hero {
    margin: 0 auto;
}
.welcome {
    margin-top: 130px;
}
.about-text {
    margin: 50px;
    border-radius: 63px;
    padding: 40px;
    box-shadow: 3px -7px 74px 39px rgba(0, 0, 0, 0.1);
}
.about-me-text {
    border-radius: 50px;
    margin: 25px;
    padding: 20px;
    box-shadow: 3px -7px 74px 39px rgba(0, 0, 0, 0.1);
}
.photos {
    align-content: space-evenly;
    padding: 150px;
}
.navbar {
    background-color: rgba(255, 255, 255, 0.578);
    height: 80px;
    font-family: var(--general-font);
    font-size: 18px;
}
.edu {
    margin: 100px;
    background-color: white;
}
.btn {
    font-family: var(--general-font);
    background-color: var(--general-color) !important;
    border-radius: 30px !important;  
    padding: 10px 20px !important;
}
.edu a { 
    color: rgba(0, 191, 166, 1) !important;
}
.open-source {
    color: rgb(0, 191, 166);
}
.message {
    text-align: right;
}
.works {
    padding: 50px !important;
    border-radius: 63px;
    box-shadow: 3px -7px 74px 39px rgba(0, 0, 0, 0.1); 
    margin-bottom: 100px;  
}
footer {
    background-color: rgba(0, 191, 166, 0.3);
    }
footer .social-links a {
    color: var(--text-color);
    margin: 20px;
    font-size: 30px;
    background-color: white;
    border-radius: 50%;
    padding: 10px 18px;
    border: 1.5px solid var(--text-color);
    transition: all 150ms ease-in-out;
}
footer .social-links a:hover{
    color: white;
    background-color: var(--text-color);
}
footer .email-link a {
    color: var(--text-color);
    margin: 20px;
    font-size: 25px;
}
.certificate {
    display: inline-flex;
    

}

@media (max-width: 990px) {
    p {
        font-size: 14px;
    }
    footer .social-links a {
        font-size: 15px;
        padding: 7px 12px;
    }   
    footer .email-link a {
        font-size: 16px;
    }  
    h1 {
        font-size: 25px !important;
    } 
    h3 {
        font-size: 20px !important;
    }
    .cont-hero {
        display: flex;
        border-radius: 63px;
        box-shadow: 3px -7px 74px 39px rgba(0, 0, 0, 0.1); 
        padding: auto; 
    } 
    .welcome {
        margin-top: 0;
    }
    .certificate {
        display: block;
        width: 100%;
    }
    .btn  {
        font-family: var(--general-font);
        background-color: var(--general-color) !important;
        border-radius: 20px !important;  
        padding: 5px 10px !important;
        width: 100%;
    }
 .edu {
    margin: auto;
 }
 .projects {
    margin: auto;
 }

}