:root {
    --general-font: 'Nunito', sans-serif;
}
h1, h2, h3, h4 {
    font-family: var(--general-font);
}
h1 {
    font-size: 60px !important;
    white-space: nowrap;
    line-height: 1.5;
}
h2 {
    text-align: center;
    line-height: 1.5;
}
h4 {
    text-align: center;
    line-height: 1.5;
}
p {
    font-size: 19px;
    color: rgb(98, 98, 98);
    font-family: var(--general-font);
    }
.cont-hero {
    margin: 100px auto;
    display: flex;
}
.hero {
    margin: 0 auto;
}
.welcome {
    margin-top: 150px;
}
.works {
    border: 3px solid rgba(0, 0, 0, 0.2);
    border-radius: 63px;
    box-shadow: 3px -7px 74px 39px rgba(0, 0, 0, 0.2);
}
.about-text {
    border: 3px solid rgba(0, 0, 0, 0.2);
    border-radius: 63px;
    padding: 40px;
    box-shadow: 3px -7px 74px 39px rgba(0, 0, 0, 0.2);

}
.photos {
    align-content: space-evenly;
    padding: 150px;
}
.navbar {
    background-color: rgba(255, 255, 255, 0.578);
    height: 80px;
    font-family: var(--general-font);
    font-size: 18px;
}
.edu {
    margin: 100px;
    background-color: white;
}